<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Project</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input type="url" id="url" name="input" value="" placeholder="Enter your text here..."></textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <ul id="results">
                    <li class="resultItem">Title:<span id="resultTitle"></span></li>
                    <li class="resultItem">Author:<span id="resultAuthor"></span></li>
                    <li class="resultItem">Article:<span id="resultArticle"></span></li>
                    <li class="resultItem">Image:<span id="resultImage"></span></li>
                    <li class="resultItem">Videos:<span id="resultVideos"></span></li>
                    <li class="resultItem">Publish Date:<span id="resultDate"></span></li>
                    <li class="resultItem">Keywords:<span id="resultFeeds"></span></li>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
