<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Project</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </head>

    <body>

        <header>
            <div class="logo">
                NLP Project
            </div>
            <div class="nav">
                Navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input type="url" id="url" name="input" value="" placeholder="Enter URL ..."></input>
                    <button onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Submit</button>
                </form>
            <section>

            <section id="results" class="hide">
                <p class="resultItem"><b>Title</b>: <span id="resultTitle"></span></p>
                <p class="resultItem"><b>Author</b>: <span id="resultAuthor"></span></p>
                <p class="resultItem"><b>Article</b>: <span id="resultArticle"></span></p>
                <p class="resultItem"><b>Image</b>: <span id="resultImage"></span></p>
                <p class="resultItem"><b>Videos</b>: <span id="resultVideos"></span></p>
                <p class="resultItem"><b>Publish Date</b>: <span id="resultDate"></span></p>
                <p class="resultItem"><b>Feeds</b>: <span id="resultFeeds"></span></p>
            </section>

            <section id="error" class="hide">
                <p>Error: <span id="errorMsg"></span></p>
            </section>
        </main>

        <footer>
            <p>Copyright 2019</p>
        </footer>

    </body>
</html>
